$button-green-color: #5CCD6A;

$button-border-color: rgba(255,255,255,0.4);
$h1-green-color: #495e4c;
$h1-yellow-color:#FFD700;
$header-btn-yellow-color:#FFD700;
$header-btn-radius-color:rgba(255, 215, 0, 0.25);
$button-color:#fff;

$hero-h2-green-color:#495E4C;
